/* You can add global styles to this file, and also import other style files */
html {
  background-size: cover;
  height: auto;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.6) 100%), url("./assets/images/bg5.jpg") no-repeat;
}

body {
  background-color: transparent;
  height: 100vh;
}

.readmore {
  display: inline-block;
}
.readmore.ellipsis .more,
.readmore:not(.ellipsis) > i,
.readmore:not(.ellipsis) > a,
.readmore.ellipsis > a.showless
{
  display: none;
}
.readmore:not(ellipsis) > a.showless {
  display: inline-block;
}

.ui.divided.list>.item {
  border: none;
}

.ui.card>.content>.header:not(.ui), .ui.card>.content> .description h4 {
  font-size: 1em;
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid #dadada;
}
.ui.card>.content> .description h4 {
  margin-top: 12px;
}

